* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* remove barra de rolagem */
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle, #43bb49, #c7cfd1, #b2c269);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 10px;
    text-shadow: 0 0 10px #e7da92;
    text-align: center;
}

.game-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

canvas {
    background: rgba(12, 12, 12, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 30px #e0e0de;
    width: 90vmin;   /* canvas se ajusta ao menor lado da tela */
    height: 90vmin;
    max-width: 500px;
    max-height: 500px;
}

/* MENU */
#menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

#menuBtn {
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
}

#menuContent {
    background: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

/* PONTUAÇÃO */
.score {
    font-size: 1.5rem;
    margin: 10px;
}

/* CONTROLES MOBILE */
#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#controls .row {
    display: flex;
    justify-content: center;
}

#controls button {
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* RESTART */
#restart {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 10px;
}
